footer {
  background: #e1ede6;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  gap: 150px;
  font-weight: 500;

  &__logo {
    display: flex;
    flex-direction: column;

    img {
      width: 200px;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 75px;

    a {
      color: #3a3a3a;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &_socials {
        display: flex;
        gap: 15px;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
        }
    }
  }
}
