.sticky__footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  background: #e1ede6;
  gap: 150px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  color: rgb(49, 49, 49);
  gap: 10px;
  font-size: small;
}

.footer__about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__txt {
  color: rgb(49, 49, 49);
  text-decoration: none;
}

.footer__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  display: flex;
  flex-direction: row;
}
