.stiky__header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background: #e1ede6;
  gap: 150px;
}

.logo__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
  height: 50px;
  width: 150px;
}

.info__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.header__txt {
  text-decoration: none;
  color: rgb(49, 49, 49);
}